
<h1> update task : $task.getDescription() here </h1>
<form action="/tasks/$task.getId()" method="post">
<div class="form-group">
  <label for="description">Description</label>
  <input id="description" name="description" type="text" class="form-control">
</div>

<button type="submit" class="btn btn-success">Update Task</button>
</form>


<a href="/">Back to main page</a>
